In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [56]:
s_data=pd.read_csv(r"C:\Users\User\Desktop\1SI18CS098\Book1.csv")

In [57]:
s_data

   no    sky air temp humidity    wind water forecast  enjoy sport
0   1  sunny     warm   normal  strong  warm     same          yes
1   2  sunny     warm     high  strong  warm     same          yes
2   3  rainy     cold     high  strong  warm   change           no
3   4  sunny     warm     high  strong  cold   change          yes

In [58]:
s_data.head()

   no    sky air temp humidity    wind water forecast  enjoy sport
0   1  sunny     warm   normal  strong  warm     same          yes
1   2  sunny     warm     high  strong  warm     same          yes
2   3  rainy     cold     high  strong  warm   change           no
3   4  sunny     warm     high  strong  cold   change          yes

In [59]:
s_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   no            4 non-null      int64
 1   sky           4 non-null      object
 2   air temp      4 non-null      object
 3   humidity      4 non-null      object
 4   wind          4 non-null      object
 5   water         4 non-null      object
 6   forecast      4 non-null      object
 7    enjoy sport  4 non-null      object
dtypes: int64(1), object(7)
memory usage: 384.0+ bytes

In [60]:
s_data.columns

Index(['no', 'sky', 'air temp', 'humidity', 'wind', 'water', 'forecast',
       ' enjoy sport'],
      dtype='object')

In [64]:
s_data=s_data.drop("no",axis=1)
s_data

     sky air temp humidity    wind water forecast  enjoy sport
0  sunny     warm   normal  strong  warm     same          yes
1  sunny     warm     high  strong  warm     same          yes
2  rainy     cold     high  strong  warm   change           no
3  sunny     warm     high  strong  cold   change          yes

In [68]:
s_data

     sky air temp humidity    wind water forecast  enjoy sport
0  sunny     warm   normal  strong  warm     same          yes
1  sunny     warm     high  strong  warm     same          yes
2  rainy     cold     high  strong  warm   change           no
3  sunny     warm     high  strong  cold   change          yes

In [72]:
h=[0,0,0,0,0,0]
len(s_data)

4

In [73]:
h=[0,0,0,0,0,0]
len(h)

6

In [74]:
print("initial hypothesis:\n")
print(h)
for i in range(len(s_data)):
    if s_data.loc[i][6]=="yes":
        for j in range(len(h)):
            if s_data.loc[i][j] !=h[j]:
                if h[j]==0:
                    h[j]=s_data.loc[i][j]
                else:
                    h[j]='?'
print('final hypothisis:\n\n')
print(h)

initial hypothesis:

[0, 0, 0, 0, 0, 0]
final hypothisis:


['sunny', 'warm', '?', 'strong', '?', '?']